[ database ]
hostname = {{ dbconn.host }}
username = {{ dbconn.user}}
password = {{ dbconn.pass }}
dbname = {{ dbconn.db}}

[ environments ]
environment = {{ app.env }}

[ prefs ]
color = {{ fav.color}}
fruit = {{ fav.fruit}}
car = {{ fav.car}}
laptop = {{ fav.laptop}}
